{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Основная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">

</head>
<body>
    {% verbatim %}
    <div class="container mt-4" id="films">
        <div class="alert alert-info" v-for="el in films">
            <h1>{{ el.title }}</h1>
            <p>Цена фильма: {{ el.price }}</p>
        </div>
    </div>
    {% endverbatim %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
    <script src="{% static 'main/main.js' %}"></script>
</body>
</html>